<div class="my-recipes" role="tabpanel">
  <!-- Tabs with category names -->
  <ul class="nav nav-tabs" role="tablist">
    <li ng-repeat="category in $parent.user.categories" role="presentation">
      <a data-target="#{{category}}" aria-controls="{{category}}" role="tab" data-toggle="tab">{{category}}</a>
    </li>
  </ul>
  <!-- Tab content for each category -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" ng-repeat="categoryObj in categorizedRecipes" id="{{categoryObj.category}}">
      <div class="recipe-name-filter">
        <span class="fa fa-search"></span>
        <input placeholder='Filter recipes by name...' class="form-control" ng-model="search.name">
      </div>
      <div>
        <div class="list-group recipe-list" ng-init="search.category=categoryObj.category">
          <li class="list-group-item" ng-repeat="recipe in categoryObj.recipes | filter:search" ng-click="showRecipeContent(recipe)">{{recipe.name}}</li>
        </div>
        <p class="recipe-content" ng-show="categoryHasRecipes(categoryObj.category)"></p>
      </div>
    </div>
  </div>
</div>